# Livro para consulta:
- https://jakevdp.github.io/PythonDataScienceHandbook/03.08-aggregation-and-grouping.html
- https://jakevdp.github.io/PythonDataScienceHandbook/03.09-pivot-tables.html

# 1. Importando bibliotecas <a name="import"></a>

<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

# 2. Carregando o dataframe SINASC <a name="read"></a>
<div style="text-align: right"
     
[Voltar ao índice](#Contents)

In [2]:
sinasc_raw = pd.read_csv('SINASC_RO_2019.csv')
sinasc_raw.head()

,ORIGEM,CODESTAB,CODMUNNASC,LOCNASC,IDADEMAE,ESTCIVMAE,ESCMAE,CODOCUPMAE,QTDFILVIVO,QTDFILMORT,...,KOTELCHUCK,CONTADOR,munResStatus,munResTipo,munResNome,munResUf,munResLat,munResLon,munResAlt,munResArea
0,1,2679477.0,110001,1,19,5.0,8 a 11 anos,NaN,0.0,0.0,...,5,1,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
1,1,2679477.0,110001,1,29,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,2,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
2,1,2679477.0,110001,1,37,9.0,8 a 11 anos,513205.0,2.0,0.0,...,5,3,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025
3,1,2516500.0,110001,1,30,5.0,12 anos ou mais,231205.0,0.0,0.0,...,4,4,ATIVO,MUNIC,Alto Alegre dos Parecis,Rondônia,-12.13178,-61.85308,397.0,3958.273
4,1,2516500.0,110001,1,30,2.0,8 a 11 anos,999992.0,1.0,0.0,...,5,5,ATIVO,MUNIC,Alta Floresta D'Oeste,Rondônia,-11.93554,-61.99982,338.0,7067.025

In [3]:
sinasc_raw.select_dtypes(['float64','int']).columns

Index(['ORIGEM', 'CODESTAB', 'CODMUNNASC', 'LOCNASC', 'IDADEMAE', 'ESTCIVMAE',
       'CODOCUPMAE', 'QTDFILVIVO', 'QTDFILMORT', 'CODMUNRES', 'CONSULTAS',
       'HORANASC', 'APGAR1', 'APGAR5', 'PESO', 'IDANOMAL', 'NUMEROLOTE',
       'DIFDATA', 'DTRECORIGA', 'NATURALMAE', 'CODMUNNATU', 'CODUFNATU',
       'ESCMAE2010', 'SERIESCMAE', 'DTNASCMAE', 'RACACORMAE', 'QTDGESTANT',
       'QTDPARTNOR', 'QTDPARTCES', 'IDADEPAI', 'DTULTMENST', 'SEMAGESTAC',
       'TPMETESTIM', 'CONSPRENAT', 'MESPRENAT', 'TPAPRESENT', 'STTRABPART',
       'STCESPARTO', 'TPNASCASSI', 'TPFUNCRESP', 'TPDOCRESP', 'DTDECLARAC',
       'ESCMAEAGR1', 'STDNEPIDEM', 'STDNNOVA', 'CODPAISRES', 'TPROBSON',
       'PARIDADE', 'KOTELCHUCK', 'CONTADOR', 'munResLat', 'munResLon',
       'munResAlt', 'munResArea'],
      dtype='object')

# Tarefa 2

### 1. Crie 2 faixas de Latitude do município (munResLat) sendo uma acima e outra abaixo de -10.5 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [4]:
mun_lat = pd.cut(sinasc_raw['munResLat'], [-15,-10.5,-5])
sinasc_raw.groupby(mun_lat)[['CONSULTAS','SEMAGESTAC']].agg([min,'mean',max,'median',sum,np.std])

               CONSULTAS                                       SEMAGESTAC  \
                     min      mean max median    sum       std        min
munResLat
(-15.0, -10.5]         1  3.694297   9    4.0  48000  0.643372       19.0
(-10.5, -5.0]          1  3.467436   9    4.0  48662  0.888240       21.0


                     mean   max median       sum       std
munResLat
(-15.0, -10.5]  38.545360  45.0   39.0  482665.0  2.012435
(-10.5, -5.0]   38.588302  45.0   39.0  511951.0  2.020722

### 2. Crie 2 faixas da área dos municípios (munResArea) sendo uma acima e outra abaixo de 3000 e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [5]:
mun_area = pd.cut(sinasc_raw['munResArea'], [0,3000,5000])
sinasc_raw.groupby(mun_area)[['QTDPARTCES','QTDPARTNOR']].agg([min,'mean',max,'median',sum,np.std])

             QTDPARTCES                                         QTDPARTNOR  \
                    min      mean  max median     sum       std        min
munResArea
(0, 3000]           0.0  0.572981  5.0    0.0  2952.0  0.749368        0.0
(3000, 5000]        0.0  0.593298  4.0    0.0  3116.0  0.740493        0.0


                  mean   max median     sum       std
munResArea
(0, 3000]     0.371334  10.0    0.0  1912.0  0.856441
(3000, 5000]  0.519604  41.0    0.0  2677.0  1.323886

### 3. Determine faixas na variável munResAlt e aplique o groupby usando essas faixas como chave e realize operações de soma, media, minimo, maximo, mediana, desvio padrao, variancia pra pelo menos 2 variáveis numéricas ainda não utilizadas

In [6]:
mun_alt = pd.qcut(sinasc_raw['munResAlt'], 4)
sinasc_raw.groupby(mun_alt)[['MESPRENAT','IDANOMAL']].agg([min,'mean',max,'median',sum,np.std])

               MESPRENAT                                             IDANOMAL  \
                     min       mean   max median      sum        std      min
munResAlt
(84.999, 87.0]       1.0  11.402551  99.0    3.0  73307.0  27.022330      1.0
(87.0, 153.0]        1.0  14.216084  99.0    2.0  66645.0  32.534356      1.0
(153.0, 191.0]       1.0   4.977896  99.0    2.0  33780.0  15.619351      1.0
(191.0, 595.0]       1.0   3.624640  99.0    2.0  22683.0  10.364704      1.0


                    mean  max median      sum       std
munResAlt
(84.999, 87.0]  2.071654  9.0    2.0  17058.0  0.763535
(87.0, 153.0]   1.998551  9.0    2.0   9655.0  0.243758
(153.0, 191.0]  2.024274  9.0    2.0  14010.0  0.458056
(191.0, 595.0]  2.006667  9.0    2.0  12943.0  0.325843

### 4. Plote no mesmo grafico ao longo do tempo a idade media das mulheres de cada regiao imediatas de rondonia
https://pt.wikipedia.org/wiki/Lista_de_regi%C3%B5es_geogr%C3%A1ficas_intermedi%C3%A1rias_e_imediatas_de_Rond%C3%B4nia

In [7]:
sinasc_2 = sinasc_raw[['munResNome','IDADEMAE', 'DTNASC']]
sinasc_2['DTNASC'] = pd.to_datetime(sinasc_2['DTNASC'])
sinasc_2 = sinasc_2.set_index('munResNome')

reg_imed = {
    'Cadeias do Jamari':'Porto Velho', 
    'Guajará-Mirim':'Porto Velho',
    'Itapuã do Oeste':'Porto Velho', 
    'Nova Mamoré':'Porto Velho',
    'Porto Velho':'Porto Velho',
    'Alto Paraíso':'Ariquimes', 
    'Ariquimes':'Ariquimes',
    'Buritis':'Ariquimes', 
    'Cacaulândia':'Ariquimes',
    'Campo Novo de Rondônia':'Ariquimes', 
    'Cujubim':'Ariquimes',
    'Monte Negro':'Ariquimes', 
    'Rio Crespo':'Ariquimes',
    'Governador Jorge Teixeira':'Jaru', 
    'Jaru':'Jaru',
    "Machadinho d'Oeste":'Jaru', 
    'Theobroma':'Jaru',
    'Vale do Anari':'Jaru',
    "Alvorada d'Oeste":'Ji-Paraná', 
    'Costa Marques':'Ji-Paraná',
    'Ji-Paraná':'Ji-Paraná', 
    'Mirante da Serra':'Ji-Paraná',
    'Nova União': 'Ji-Paraná', 
    'Ouro Preto do Oeste':'Ji-Paraná',
    'Presidente Médici':'Ji-Paraná', 
    'São Francisco do Guaporé':'Ji-Paraná',
    'São Miguel do Guaporé':'Ji-Paraná', 
    'Seringueiras':'Ji-Paraná',
    'Teixeirópolis':'Ji-Paraná', 
    'Urupá':'Ji-Paraná',
    'Vale do Paraíso':'Ji-Paraná',
    "Alta Floresta d'Oeste":'Cacoal', 
    'Alto Alegre dos Parecis':'Cacoal',
    'Cacoal':'Cacoal', 
    'Castanheiras':'Cacoal',
    "Espigão d'Oeste":'Cacoal', 
    'Ministro Andreazza':'Cacoal',
    "Nova Brasilândia d'Oeste":'Cacoal', 
    'Novo Horizonte do Oeste':'Cacoal',
    'Parecis':'Cacoal', 
    'Pimenta Bueno':'Cacoal',
    'Primavera de Rondônia':'Cacoal', 
    'Rolim de Moura':'Cacoal',
    "Santa Luzia d'Oeste":'Cacoal', 
    "São Felipe d'Oeste":'Cacoal',
    'Cabixi':'Vilhena', 
    'Cerejeiras':'Vilhena',
    'Chupinguaia':'Vilhena', 
    'Colorado do Oeste':'Vilhena',
    'Corumbiara':'Vilhena', 
    'Pimenteiras do Oeste':'Vilhena',
    'Vilhena':'Vilhena'
}

C:\Users\Chrystian\AppData\Local\Temp\ipykernel_7028\603505957.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  sinasc_2['DTNASC'] = pd.to_datetime(sinasc_2['DTNASC'])

In [8]:
sinasc_2_dt = sinasc_2[sinasc_2['DTNASC'].dt.month == 1]

sinasc_2_dt.groupby(reg_imed)['IDADEMAE'].agg('mean')

munResNome
Ariquimes      24.487395
Cacoal         26.435115
Jaru           26.037037
Ji-Paraná      25.845411
Porto Velho    26.055961
Vilhena        26.665049
Name: IDADEMAE, dtype: float64

In [9]:
sinasc_2_dt = sinasc_2[sinasc_2['DTNASC'].dt.month == 4]

sinasc_2_dt.groupby(reg_imed)['IDADEMAE'].agg('mean')

munResNome
Ariquimes      25.184000
Cacoal         26.127517
Jaru           25.561224
Ji-Paraná      26.099526
Porto Velho    26.124706
Vilhena        26.686099
Name: IDADEMAE, dtype: float64

In [10]:
sinasc_2_dt = sinasc_2[sinasc_2['DTNASC'].dt.month == 7]

sinasc_2_dt.groupby(reg_imed)['IDADEMAE'].agg('mean')

munResNome
Ariquimes      25.133333
Cacoal         26.817518
Jaru           24.757895
Ji-Paraná      25.911357
Porto Velho    26.179067
Vilhena        26.373057
Name: IDADEMAE, dtype: float64

In [11]:
sinasc_2_dt = sinasc_2[sinasc_2['DTNASC'].dt.month == 12]

sinasc_2_dt.groupby(reg_imed)['IDADEMAE'].agg('mean')

munResNome
Ariquimes      24.695238
Cacoal         26.425087
Jaru           25.750000
Ji-Paraná      26.504274
Porto Velho    26.636959
Vilhena        27.010753
Name: IDADEMAE, dtype: float64

### 5. Utilize a tabela do link abaixo e crie faixas utilizando o mapping e gere agrupamentos utilizando essas faixas como chave

### 5.1 IDH
A - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IDH-M

In [12]:
sinasc_3 = sinasc_raw[['munResNome','IDADEPAI']]
sinasc_3 = sinasc_3.set_index('munResNome')

idh_ro = {
    'Porto Velho':'IDH Alto', 'Vilhena':'IDH Alto',
    'Cacoal':'IDH Alto', 'Ji-Paraná':'IDH Alto',
    'Pimenta Bueno':'IDH Alto', 'Ariquemes':'IDH Alto',
    'Rolim de Moura':'IDH Alto',
    'Cerejeiras':'IDH Medio', 'Jaru':'IDH Medio',
    'Colorado do Oeste':'IDH Medio', 'Ouro Preto do Oeste':'IDH Medio',
    "Espigão d'Oeste":'IDH Medio', "Santa Luzia d'Oeste":'IDH Medio',
    'Pimenteiras do Oeste':'IDH Medio', 'Presidente Médici':'IDH Medio',
    'Castanheiras':'IDH Medio', 'Guajará-Mirim':'IDH Medio',
    'Capinguaia':'IDH Medio', 'Cabixi':'IDH Medio',
    'Candeias do Jamari':'IDH Medio', "São Felipe d'Oeste":'IDH Medio',
    'Cacaulândia':'IDH Medio', 'São Miguel do Guaporé':'IDH Medio',
    'Mirante da Serra':'IDH Medio', "Alvorada d'Oeste":'IDH Medio',
    'Teixeirópolis':'IDH Medio', "Nova Brasilândia d'Oeste":'IDH Medio',
    'Rio Crespo':'IDH Medio', 'Primavera de Rondônia':'IDH Medio',
    "Alta Floresta d'Oeste":'IDH Medio', 'Ministro Andreazza':'IDH Medio',
    'Novo Horizonete do Oeste':'IDH Medio', 'Vale do Paraíso':'IDH Medio',
    'Alto Paraíso':'IDH Medio', 'Parecis':'IDH Medio',
    'Buritis':'IDH Medio', 'Itapuã do Oeste':'IDH Medio',
    'Corumbiara':'IDH Medio', 'Cujubim':'IDH Medio',
    'Costa Marques':'IDH Medio', 'São Francisco do Guaporé':'IDH Medio',
    'Urupá':'IDH Medio', 'Monte Negro':'IDH Medio',
    'Seringueiras':'IDH Baixo', 'Governador Jorge Teixeira':'IDH Baixo',
    "Machadinho d'Oeste":'IDH Baixo', 'Campo Novo de Rondônia':'IDH Baixo',
    'Alto Alegre dos Parecis':'IDH Baixo', 'Theobroma':'IDH Baixo',
    'Nova União':'IDH Baixo', 'Nova Mamoré':'IDH Baixo',
    'Vale do Anari':'IDH Baixo',
}

In [13]:
sinasc_3.groupby(idh_ro).mean()

             IDADEPAI
munResNome
IDH Alto    31.074091
IDH Baixo   30.402332
IDH Medio   31.601356

### 5.2 IFDM 
B - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_IFDM

In [14]:
sinasc_4 = sinasc_raw[['munResNome','CONSULTAS']].set_index('munResNome')

ifdm_ro = {
    'Guajará-Mirim':'Desenvolvimento Regular',
    'Itapuã do Oeste':'Desenvolvimento Regular', 
    'Nova Mamoré':'Desenvolvimento Regular',
    'Porto Velho':'Desenvolvimento Moderado',
    'Alto Paraíso':'Desenvolvimento Regular', 
    'Ariquimes':'Desenvolvimento Moderado',
    'Buritis':'Desenvolvimento Moderado', 
    'Candeias do Jamari':'Desenvolvimento Moderado',
    'Cacaulândia':'Desenvolvimento Regular',
    'Campo Novo de Rondônia':'Desenvolvimento Regular', 
    'Cujubim':'Desenvolvimento Regular',
    'Monte Negro':'Desenvolvimento Moderado', 
    'Rio Crespo':'Desenvolvimento Moderado',
    'Governador Jorge Teixeira':'Desenvolvimento Regular', 
    'Jaru':'Desenvolvimento Moderado',
    "Machadinho d'Oeste":'Desenvolvimento Regular', 
    'Theobroma':'Desenvolvimento Regular',
    'Vale do Anari':'Desenvolvimento Regular',
    "Alvorada d'Oeste":'Desenvolvimento Regular', 
    'Costa Marques':'Desenvolvimento Regular',
    'Ji-Paraná':'Desenvolvimento Moderado', 
    'Mirante da Serra':'Desenvolvimento Regular',
    'Nova União': 'Desenvolvimento Regular', 
    'Ouro Preto do Oeste':'Desenvolvimento Moderado',
    'Presidente Médici':'Desenvolvimento Moderado', 
    'São Francisco do Guaporé':'Desenvolvimento Moderado',
    'São Miguel do Guaporé':'Desenvolvimento Moderado', 
    'Seringueiras':'Desenvolvimento Regular',
    'Teixeirópolis':'Desenvolvimento Moderado', 
    'Urupá':'Desenvolvimento Moderado',
    'Vale do Paraíso':'Desenvolvimento Regular',
    "Alta Floresta d'Oeste":'Desenvolvimento Moderado', 
    'Alto Alegre dos Parecis':'Desenvolvimento Regular',
    'Cacoal':'Desenvolvimento Moderado', 
    'Castanheiras':'Desenvolvimento Regular',
    "Espigão d'Oeste":'Desenvolvimento Regular', 
    'Ministro Andreazza':'Desenvolvimento Regular',
    "Nova Brasilândia d'Oeste":'Desenvolvimento Regular', 
    'Novo Horizonte do Oeste':'Desenvolvimento Regular',
    'Parecis':'Desenvolvimento Regular', 
    'Pimenta Bueno':'Desenvolvimento Moderado',
    'Primavera de Rondônia':'Desenvolvimento Moderado', 
    'Rolim de Moura':'Desenvolvimento Moderado',
    "Santa Luzia d'Oeste":'Desenvolvimento Moderado', 
    "São Felipe d'Oeste":'Desenvolvimento Moderado',
    'Cabixi':'Desenvolvimento Regular', 
    'Cerejeiras':'Desenvolvimento Moderado',
    'Chupinguaia':'Desenvolvimento Moderado', 
    'Colorado do Oeste':'Desenvolvimento Moderado',
    'Corumbiara':'Desenvolvimento Regular', 
    'Pimenteiras do Oeste':'Desenvolvimento Moderado',
    'Vilhena':'Desenvolvimento Moderado'
}

In [15]:
sinasc_4.groupby(ifdm_ro).agg([min,max,np.std])

                         CONSULTAS
                               min max       std
munResNome
Desenvolvimento Moderado         1   9  0.817325
Desenvolvimento Regular          1   9  0.763376

### 5.3 PIB
C - https://pt.wikipedia.org/wiki/Lista_de_munic%C3%ADpios_de_Rond%C3%B4nia_por_PIB

In [19]:
sinasc_5 = sinasc_raw[['munResNome','QTDPARTNOR','QTDPARTCES']].set_index('munResNome')

pib_ro = {
    'Cadeias do Jamari':'Acima de 500 Milhões', 
    'Guajará-Mirim':'Acima de 500 Milhões',
    'Itapuã do Oeste':'Acima de 100 Milhões', 
    'Nova Mamoré':'Acima de 500 Milhões',
    'Porto Velho':'Acima de 1 Bilhão',
    'Alto Paraíso':'Acima de 300 Milhões', 
    'Ariquimes':'Acima de 1 Bilhão',
    'Buritis':'Acima de 500 Milhões', 
    'Cacaulândia':'Acima de 100 Milhões',
    'Campo Novo de Rondônia':'Acima de 200 Milhões', 
    'Cujubim':'Acima de 300 Milhões',
    'Monte Negro':'Acima de 200 Milhões', 
    'Rio Crespo':'Até 100 Milhões',
    'Governador Jorge Teixeira':'Acima de 100 Milhões', 
    'Jaru':'Acima de 1 Bilhão',
    "Machadinho d'Oeste":'Acima de 500 Milhões', 
    'Theobroma':'Acima de 100 Milhões',
    'Vale do Anari':'Acima de 100 Milhões',
    "Alvorada d'Oeste":'Acima de 200 Milhões', 
    'Costa Marques':'Acima de 100 Milhões',
    'Ji-Paraná':'Acima de 1 Bilhão', 
    'Mirante da Serra':'Acima de 100 Milhões',
    'Nova União': 'Até 100 Milhões', 
    'Ouro Preto do Oeste':'Acima de 500 Milhões',
    'Presidente Médici':'Acima de 300 Milhões', 
    'São Francisco do Guaporé':'Acima de 300 Milhões',
    'São Miguel do Guaporé':'Acima de 500 Milhões', 
    'Seringueiras':'Acima de 100 Milhões',
    'Teixeirópolis':'Até 100 Milhões', 
    'Urupá':'Acima de 100 Milhões',
    'Vale do Paraíso':'Acima de 100 Milhões',
    "Alta Floresta d'Oeste":'Acima de 300 Milhões', 
    'Alto Alegre dos Parecis':'Acima de 200 Milhões',
    'Cacoal':'Acima de 1 Bilhão', 
    'Castanheiras':'Até 100 Milhões',
    "Espigão d'Oeste":'Acima de 500 Milhões', 
    'Ministro Andreazza':'Acima de 100 Milhões',
    "Nova Brasilândia d'Oeste":'Acima de 300 Milhões', 
    'Novo Horizonte do Oeste':'Acima de 100 Milhões',
    'Parecis':'Até 100 Milhões', 
    'Pimenta Bueno':'Acima de 1 Bilhão',
    'Primavera de Rondônia':'Até 100 Milhões', 
    'Rolim de Moura':'Acima de 1 Bilhão',
    "Santa Luzia d'Oeste":'Acima de 100 Milhões', 
    "São Felipe d'Oeste":'Até 100 Milhões',
    'Cabixi':'Acima de 100 Milhões', 
    'Cerejeiras':'Acima de 500 Milhões',
    'Chupinguaia':'Acima de 100 Milhões', 
    'Colorado do Oeste':'Acima de 300 Milhões',
    'Corumbiara':'Acima de 100 Milhões', 
    'Pimenteiras do Oeste':'Até 100 Milhões',
    'Vilhena':'Acima de 1 Bilhão'
}

In [21]:
sinasc_5.groupby(pib_ro).agg([min,max,np.std])

                     QTDPARTNOR                 QTDPARTCES
                            min   max       std        min   max       std
munResNome
Acima de 1 Bilhão           0.0  40.0  1.164782        0.0  12.0  0.747850
Acima de 100 Milhões        0.0  14.0  1.083980        0.0   4.0  0.731670
Acima de 200 Milhões        0.0  41.0  2.146588        0.0   3.0  0.743600
Acima de 300 Milhões        0.0   8.0  1.045232        0.0   4.0  0.760478
Acima de 500 Milhões        0.0  10.0  1.335298        0.0   5.0  0.744850
Até 100 Milhões             0.0   6.0  1.003798        0.0   3.0  0.765700

### Analise as respostas encontradas, tire algum insight delas, conte pra gente algo encontrado nos dados.

Exemplo:
- Ah, descobri que a idade mediana das mulheres que deram a luz no ano de 2019 dos municipios com o PIB mais alto é a maior dentre todas.

**Insigths:**

* É possível perceber que, independente do valor do PIB do município, a quantidade de partos normais realizados é muito maior que a quantidade de cesarianas. Porém, nos municípios com o PIB maior que 1 Bilhão, a quantidade máxima de partos cesarianos é muito maior que no restante das categorias.

* A Altitude e Latitude de cada município tem pouca influência sobre o valor da maioria das variáveis.